<div class="modal fade search-modal" id="search-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div id="search" class="s-search mx-auto my-4">
                    <div id="search-list" class="hide-type-list">
                        <div class="s-type">
                            <span></span>
                            <div class="s-type-list">
                                {{ range page.Site.Data.search }}
                                    {{ if .group }}
                                        {{ if .links }}
                                            {{ $element := index .links 0 }}
                                            <label for="m_type-{{ lower $element.title}}" data-id="group-{{ lower .group }}"><span>{{ .title }}</span></label>
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                            </div>
                        </div>
                        {{ range page.Site.Data.search }}
                            {{ if .group }}
                                <div class="search-group group-{{ lower .group }}">
                                    <span class="type-text text-muted">{{ title .group }}</span>
                                    <ul class="search-type">
                                        {{ if .links }}
                                            {{ range .links }}
                                            <li>
                                                <input hidden="" type="radio" name="type2" id="m_type-{{ lower .title }}" value="{{ .url }}" data-placeholder="{{ .placeholder }}">
                                                <label for="m_type-{{ lower .title }}"><span class="text-muted">{{ .title }}</span></label>
                                            </li>
                                            {{ end }}
                                        {{ end }}
                                    </ul>
                                </div>
                            {{ end }}
                        {{ end }}
                        <form action="" method="get" target="_blank" class="super-search-fm">
                            <input type="text" id="m_search-text" class="form-control smart-tips search-key" zhannei=""
                                autocomplete="off" placeholder="" style="outline:0">
                            <button type="submit"><i class="iconfont icon-search"></i></button>
                        </form>
                        <div class="card search-smart-tips" style="display: none">
                            <ul></ul>
                        </div>
                    </div>
                </div>
                <div style="position: absolute;bottom: -40px;width: 100%;text-align: center;">
                    <a href="javascript:" data-dismiss="modal"><i class="iconfont icon-close-circle icon-2x" style="color: #fff;"></i></a>
                </div>
            </div>
        </div>
    </div>
